html {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
}

#app {
  width: 100%;
}

a, p, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #031927 !important;
}

nav a {
  color: #fff;
  text-decoration: none !important;

  &:hover {
    color: lightgray;
  }

  &.router-link-exact-active {
    color: #9DD1F1;
  }
}

.d3-container a {
  text-decoration: none !important;
  display: inline-block;
  padding: 1rem;
  width: 150px;
  text-align: center;

  &:hover {
    background: #AFA060;
  }

  &.router-link-exact-active {
    background: #2A1A1F;
  }
}

// Transitions
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .15s;
}

.fade-enter-active {
  transition-delay: .15s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
